<div>
    <div class="ministry-body">
        <h1 class="ministry-header">Ministries/Designated Programs</h1>
        <hr>
        <div class="ministry-cards">
            <div *ngFor="let x of ministries" class="ministry-card">
                <img src="{{ x.pic }}"/>
                <h4> {{ x.name }} </h4> <br>
                <h6> {{ x.description }} </h6> <br>
                <a href="{{x.URL}}"> {{ x.note }}</a> <br>
                <h6> {{ x.email }}</h6> <br>
            </div>
            <div *ngFor="let x of extendedMinistries" class="ministry-card">
                <img src="{{ x.pic }}"/>
                <h4> {{ x.name }} </h4> <br>
                <h6> {{ x.info }} </h6> <br>
                <div *ngFor = "let y of extendedMinistries_areas">
                    <h6> {{ y.id }}) <span style="font-weight: bold"> {{ y.name }}</span> {{ y.description }} </h6>
                    <br>
                </div>
                <a href ="{{x.URL}}"> {{ x.note }} </a>
            </div>
        </div>
        <div class = "ministry-bottom" style = "background-color: lightblue"></div>
    </div>
</div>
