<h1 class="header">PRAYER REQUEST</h1>

<hr>

<div class="body"> 
    <div class="font-italic">
        Chronicles 5:20 "...He answered their <span class="font-weight-bold">prayers</span>, because they trusted in him".
    </div>
    <img src="../../assets/img/man.jpg" class="praying-image">
    <p class="note">
        As servants for God's harvest, we know very well that we are not able to accomplish anything except through prayers by our faithful friends and families around the world. 
        We are grateful of your partnership and your faithfulness to lift us up in your prayers at home, in school groups, congregational prayers...
        <br><br><br><br><br>
    </p>
</div>

<hr>

<div class = "prayer-cards">
    <div class = "prayer-card">
        <img src="../../assets/img/man.jpg">
        Pray for our Board
    </div>
    <div class = "prayer-card">
        <img src="../../assets/img/man.jpg">
        Pray for our Programs
        <ul>
            <li>Camp hope</li>
            <li>Education Scholarship</li>
            <li>Water Filteration</li>
            <li>Extended Mission</li>
        </ul>
    </div>
    <div class = "prayer-card">
        <img src="../../assets/img/man.jpg">
        Pray for our "workers" who God is preparing for the mission field next year. 
    </div>
    <div class = "prayer-card">
        <img src="../../assets/img/man.jpg">
        Pray for our finance & wisdom to use it completely under His guidance. 
    </div>
</div>
<div class = "prayer-bottom" style = "background-color: lightblue"></div>