.camphope-header{
    text-align: center;
    font-size: 2.5em;
}

hr {
    border: 10px solid crimson;
    width: 90%;
}

.words{
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 5px;
}
.words2{
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 10px;
}
.hope-bottom {
    margin: 0 auto;
    height: 200px;
    width: 90%;
}