<h1 class="camphope-header">CAMP HOPE</h1>
<hr>

<app-min-camp-carousel style="float: left"></app-min-camp-carousel>

<p class = "words">
    Each year, our VN local team work hard to build relationships with families with orphans around the community in Southern region of Vietnam. 
    Throughout the year, they build a net work that embodies an assigned trusted leader from one of the local churches who is responsible for ongoing communication and visitation with these families of orphans. 
    Right here, I want to pause for a few minutes to explain about the criteria for orphans in VN. 
    According to Paul, who was an orphan himself, explained that orphans (either via death of one or both parents; and/or abandonment by parents) with living relatives do not qualify for financial and federal support (ie. orphanage). 
    Thus, these children are placed in the care of living relatives. Resulting in increased poverty; lack of educational opportunities. 
    As explained by most of the orphans we encountered, some of these children (as young as 6 years of age) have to quit school to help with family financial needs by working 10 hours a day, 7 days a week for very menial wage. 
</p>

<p class = "words2">
    One of the burden for most missions ministry is the question of what happens to these orphans after we are done with the mission? 
    Paul's vision was not to just provide a temporary boost of Christ through mission but a sustainable platform for continuous growth in hope and love of Christ even after we leave. 
    After many years researching various set up of other prior and existing mission programs in Vietnam, Paul and our trust local God-loving friends constructed a foolproof program that fosters continuous support for orphans who do not know Christ or have not placed their faith in Christ.  
    Both teams (US & VN) agreed to create a sustaining system by inviting existing 1/2 of orphans who are believers and church goers & 1/2 of orphans from the community who do not know Christ. 
    Through the VBS experience of Camp Hope, the team prays that these children will develop a bond that will last after the Camp. This way, for days and years to come, Christ loving children will be able to continuously invite non-believing orphans to attend church, participate in activities that will help them grow in faith. 
    But this task is not easy. It takes our local team to work tirelessly to establish on going relationships with orphans in the community through out the year. Lots of prayers and considerations are placed when deciding who to invite to Camp Hope. Other obstacles including obtaining permission from guardians of non-believing orphans to attend Camp Hope do not come easy. 
    Most of them have to travel some distance to get to Camp Hope. Many are not used to travelling in cars and buses. They often get sick while being transported and need time to recover before we can start Camp. Furthermore, these children are financial contributors for the families. By allowing them to attend Camp, their families have lost at least a day's worth of much needed income (regardless how little the amount may be). 
    But by the grace of God, those who came experienced overwhelming joy and love through games and our team at camp...that point them to the Love and salvation of Christ. At the end of everyone of our camps is our traditional invitation to accept Christ. Most orphans (about 90%) of non-believing orphans will come to receive Christ; plus recommitting of faith from believing orphans. 
    The experience is both rewarding and overwhelming for all leaders to witness the presence of the Lord residing at our Camps.
</p>