.camphope-header{
    text-align: center;
    font-size: 2.5em;
}

hr {
    border: 10px solid crimson;
    width: 90%;
}

.words{
    margin-right: 70px;
}
.words2{
    margin: 70px;
    margin-top: 20px;
}