hr {
    border: 10px solid crimson;
    width: 118.4%;
}
/* You can add global styles to this file, and also import other style files */
h1 {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 500%;
    margin : 4% 0% 0% 0%;
  }
.header-size {
  margin : 0% 0% 5% 42%;
  height : 10px;
  width : 100%;
}
.header {
  height : 20%;
  width : 100%;
}
.header-line {
  margin : 10% 16% 0% -1%;
}