hr {
    border: 10px solid crimson;
    width: 70%;
}
/* You can add global styles to this file, and also import other style files */
h1 {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
  }
.header-size {
  margin : 0% 0% 5% 45%;
  height : 10px;
  width : 100%;
}
.header {
  height : 20%;
  width : 100%;
}