


<span style="font-size:25px; cursor:pointer" (click)="openNav()"> &#9776; </span>
<span class="title"> Bridges of Hope</span>

<div class="sidenav navbar-nav" id="Menu-bar">    
    <div id="A">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <span class="menu"> Menu </span>
    </div>
    <br>
        <a [routerLink] = "'/homepage'" (click)="closeNav()">Home</a>
        <a [routerLink] = "'/contacts'" (click)="closeNav()">Contact us</a>
        <a [routerLink] = "'/ministries'" (click)="closeNav()">Ministries</a>
        <a href="#" (click)="closeNav()">Prayer Request</a>
        <a href="#" (click)="closeNav()">What's Happening</a>
        <a href="#" (click)="closeNav()">Who we are</a>
        <a href="#" (click)="closeNav()">Culture Connection</a>
        <a href="#" (click)="closeNav()">FAQ</a>
        <a href="#" (click)="closeNav()">Photo Gallery</a>
</div>
<router-outlet></router-outlet>