/* h1 {
    color: rgb(0, 0, 0);
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
  }
  h2 {
    color: #444;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 125%;
  }
  h3 {
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    
  } */
  body {
    text-align: center;
    font-size: 2.5em;
    margin: inherit;
  }
  /* body, input[type="text"], button {
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } */

  .author {
    font-size: 10px
  }
  
  /* h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 75%;
  }
  h5 {
    color: #444;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin: -180% 0% 0% 50%;
  } */
.articletext {
    margin : 5% 150px 250px 300px;
    height : 800px;
    width : 450px;
}
.right-bibleverse {
    margin : -30% -50% 0% 60%;
    height : 600px;
    width : 300px;
}
.body-bottom {
  overflow-x : hidden;
  margin: 0% 0% -10% 0%;
  max-width: 100%;
  height: 200px;
  width: 100%;
}